<!DOCTYPE html>
<html>

<head>
  <title>Issue Tracker</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/index-styles/index.css">
  <script src="https://kit.fontawesome.com/6aab1b61bc.js" crossorigin="anonymous"></script>
</head>
      
<body>
  <header>
    <div>
      <div>
        <i class="far fa-clipboard"></i></i></i><i class="fas fa-cogs"></i>
      </div>
      <h1>Issue Tracker</h>
    </div>
  </header>
  <div id="container">
    <div id="contentGridWrapper">
      <section id="getUsageExample" class="boxWrapper">
        <h1>Example GET Usage</h1>
        <pre><code>/api/issues/{project}<br>/api/issues/{project}?open=true&assigned_to=Joe</code></pre>
        <p>Make a new project by adding /{project} to the end of the URL</p>
        <ul>
          <li>http://localhost:3000/projectName</li>
        </ul>
      </section>
      <section id="returnExample" class="boxWrapper">
        <h1 class="">Example Return</h1>
        <pre><code>{ 
  "_id": "5871dda29faedc3491ff93bb",
  "issue_title": "Fix error in posting data",
  "issue_text": "When we post data it has an error.",
  "created_on": "2017-01-08T06:35:14.240Z",
  "updated_on": "2017-01-08T06:35:14.240Z",
  "created_by": "Joe",
  "assigned_to": "Joe",
  "open": true,
  "status_text": "In QA"
},</code></pre>
      </section>
      <section id="apiPost" class="boxWrapper">
        <h1>API Test POST</h1>
        Go to the project <a href='/api/issues/apitest/'><code>/api/issues/apitest/</code></a>
        <p>Submit issue on apitest</p>
        <form id="testForm">
          <input type="text" name="issue_title" placeholder="*Title" required=''><br>
          <textarea type=text name="issue_text" placeholder="*Text" required='' style="margin-bottom: 0"></textarea><br>
          <input type="text" name="created_by" placeholder="*Created by" required=''><br>
          <input type="text" name="assigned_to" placeholder="(opt)Assigned to"><br>
          <input type="text" name="sttus_text" placeholder="(opt)Status text"><br>
          <button type="submit">Submit Issue</button>
        </form>
      </section>
      <section id="apiPut" class="boxWrapper">
        <h1>API test PUT</h1>
        <p>Update issue on apitest (Change any or all to update issue on the _id supplied)</p>
        <form id="testForm2">
          <input type="text" name="_id" placeholder="*_id" required=''><br>
          <input type="text" name="issue_title" placeholder="(opt)Title"><br>
          <textarea type="text" name="issue_text" placeholder="(opt)Text" style="margin-bottom: 0"></textarea><br>
          <input type="text" name="created_by" placeholder="(opt)Created by"><br>
          <input type="text" name="assigned_to" placeholder="(opt)Assigned to"><br>
          <input type="text" name="status_text" placeholder="(opt)Status text"><br>
          <label><input style="margin: 5px 5px 5px 0" type="checkbox" name="open" value="false"> Check to close
            issue</label><br>
          <button type="submit">Submit Issue</button>
        </form><br>
      </section>
      <section id="apiDelete" class="boxWrapper">
        <h1>API test DELETE</h1>
        <form id="testForm3">
          <input type="text" name="_id" placeholder="_id" required=''><br>
          <button type="submit">Delete Issue</button>
        </form>
      </section>
      <section id="jsonResponse" class="boxWrapper">
        <h1>JSON Response</h1>
        <code id='jsonResult'></code>
      </section>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
    integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $('#testForm').submit(function (e) {
        $.ajax({
          url: '/api/issues/apitest',
          type: 'post',
          data: $('#testForm').serialize(),
          success: function (data) {
            $('#jsonResult').text(JSON.stringify(data));
          }
        });
        e.preventDefault();
      });
      $('#testForm2').submit(function (e) {
        $.ajax({
          url: '/api/issues/apitest',
          type: 'put',
          data: $('#testForm2').serialize(),
          success: function (data) {
            $('#jsonResult').text(JSON.stringify(data));
          }
        });
        e.preventDefault();
      });
      $('#testForm3').submit(function (e) {
        $.ajax({
          url: '/api/issues/apitest',
          type: 'delete',
          data: $('#testForm3').serialize(),
          success: function (data) {
            $('#jsonResult').text(JSON.stringify(data));
          }
        });
        e.preventDefault();
      });
    });
  </script>
</body>
</html>